.nav2_container{
  border: 1px solid #ccc;
  height: 500px;
}
.nav2_side{
  height: 100%;
}
.ss_left{
  float: left;
  height: 100%;
  background-color: pink;
  width: 200px;
}
.ss_right{
  float: left;
  height: 100%;
}
